// Breakpoints
$bp-xsmall: "(max-width: 239px)";
$bp-small: "(min-width: 240px)";
$bp-medium: "(min-width: 320px)";
$bp-large: "(min-width: 480px)";
$bp-xlarge: "(min-width: 600px)";
$bp-xxlarge: "(min-width: 800px)";

// Colours
$page-color: #fff;
$text-color: #333;
$accent-color: #a435ff;

// Blur for lazy load
$blurRadius: 20px;
